# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

# JetBrains Rider
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gch
*.pch

# Libraries
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# ===== Unreal Engine =====

# Binary Files
EternalReturn/Binaries/*
EternalReturn/Plugins/**/Binaries/*

# Builds
EternalReturn/Build/*
!EternalReturn/Build/*/
EternalReturn/Build/*/**
!EternalReturn/Build/*/PakBlacklist*.txt
!EternalReturn/Build/**/*.ico

# Intermediate
EternalReturn/Intermediate/*
EternalReturn/Plugins/**/Intermediate/*

# Saved
EternalReturn/Saved/*

# DerivedDataCache
EternalReturn/DerivedDataCache/*

# Built data for maps
EternalReturn/**/*_BuiltData.uasset

# Precompiled Assets
EternalReturn/SourceArt/**/*.png
EternalReturn/SourceArt/**/*.tga

# UE5 World Partition
EternalReturn/Content/*
EternalReturn/Content/__ExternalActors__/
EternalReturn/Content/__ExternalObjects__/
EternalReturn/Content/Collections/

# Local editor settings
EternalReturn/Config/DefaultEditorPerProjectUserSettings.ini

# Package
EternalReturn/Package/*

# Xcode
*.xcodeproj

# Modeling
Modeling/*
*.xcworkspace

# 게임 추출 애셋 (원본 저작물 - 커밋 금지)
ER_Asset/
